h1 {
    text-align: center;
    color: rgb(116, 81, 16);
}

div.flex {
    display: flex;
    gap: 24px;
    line-height: 24px;
    justify-content: center;
    margin: 20px;
    background-color: #ffffff;
}

.input.search-form__keyword-input {
    padding: 10px 12px;
    min-width: 324px;
}

.search-form__input {
    padding: 10px 12px;
    width: 170px;
    text-align: center;
}

.search-form__button {
    padding: 10px 12px;
}

th {
    
    justify-content: center;
}