h1 {
    text-align: center;
    color: rgb(116, 81, 16);
}

div.flex {
    display: flex;
    gap: 24px;
    min-width: 324px;
    padding: 8px 12px;
}

.search-form__keyword-input {
    padding: 8px 12px;
    min-width: 324px;
    border: 1px solid #E3DED9;
}