h1 {
    text-align: center;
    color: rgb(116, 81, 16);
}

div.flex {
    display: flex;
    gap: 24px;
    line-height: 24px;
    justify-content: center;
    margin: 20px;
    background-color: #ffffff;
}

.input.search-form__keyword-input {
    padding: 8px 12px;
    min-width: 324px;
    border: 1px solid #E3DED9;
    background-color: #FBFBFB;
}

.search-form__input {
    padding: 10px 12px;
    width: 170px;
    text-align: center;
}

.search-form__button {
    padding: 10px 12px;
}

table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #5f5549;
    color: white;
    text-align: center;
    padding: 16px 8px;
    padding-left: 48px;
    
}

td {
    padding: 25px 40px;
    background-color: #EEEEEE;
    text-align: center;
    box-sizing: content-box;
    border: 1px solid #E0DFDE;
    padding: 16px 8px;
    padding-left: 48px;
}