


h1 {
    text-align: center;
}

main {
    width: 600px;
    margin: 0 auto;
    text-align: justify;
    padding: 10px 10px;
}

table {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    border: solid 2px#DCDCDC;
}

.form__button {
    text-align: center;
    padding: 20px;
}

.form__button button {
    margin: 0 10px;
}

.form__button a {
    margin: 0 10px;
}

th {
    background-color: #B19286;
    color: #fff;
    font-size: 14px;
    width: 30%;
    border-bottom: #e2cfca solid 1px;
}

.confirm-table__text {
    width: 50%;
}

td {
    width: 500px;
    border-bottom: #e2cfca solid 1px;
}

