h1 {
    text-align: center;
    color: #643d28;
}

main {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    text-align: justify;
}

table {
    background-color: #fff;
    width: 500%;
    height: 500px;
    margin: 0 auto;
}

th {
    background-color: #fff;
    width: 200px;
}

.form__group {
    text-align: center;
    font-size: 50px;
}

.form__input--text {
    text-align: justify;
}

input, textarea, select {
    background-color: #f1edea;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input, textarea {
    width: 200px;
}

button {
    font-size: 16px;
    background-color: #553f33;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

