h1 {
    text-align: center;
    color: #815a5a;
    font-size: 30px;
}

main {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    text-align: justify;
}

table {
    background-color: #fff;
    width: 700%;
    height: 500px;
    margin: 0 auto;
}

th {
    background-color: #fff;
    width: 200px;
    color: #643d28;
}

.form__group { 
    text-align: center;
    font-size: 50px;
} 

input, textarea, select {
    background-color: #f1edea;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    accent-color: #553f33;
    width: 85px;
    color: #643d28;
}

input[type="email"] {
    width: 400px;
}



button {
    font-size: 16px;
    background-color: #553f33;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}


